# BEGIN: /C:/oddnecessity/git/my/chaos-ray-tracing-course-assignment-yoreei/SourceCode/raytracer/blender/.gitignore
large_assets/
# END: /C:/oddnecessity/git/my/chaos-ray-tracing-course-assignment-yoreei/SourceCode/raytracer/blender/.gitignore
